{% extends "base.html" %}

{% block content %}

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>Somos un grupo de estudiantes, investigadores, docentes y aficionados<br/>
					  desarrolando dispositivos para medir utilizando nuevas tecnologias de uso común</h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-3">
				<img class="img-circle" src="{{ rel_assets }}assets/img/logos/df_iso.jpg" width="110" height="110" alt="">
				<h4>DF/FCEyN/UBA</h4>
				<p>El <b>Departamento de Física</b> Juán José Giambiagi
           de la Facultad de Ciencias Exactas y Naturales
           de la Universidad de Buenos Aires
        </p>
				<p><a href="http://www.df.uba.ar">www.df.uba.ar <i class="fa fa-external-link"></i></a></p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="{{ rel_assets }}assets/img/logos/lec_iso.png" width="110" height="110" alt="">
				<h4>LEC</h4>
				<p>El <b>Laboratorio de Electrónica Cuántica</b> (DF/FCEyN/UBA e IFIBA/CONICET)
        </p>
        <p><a href="http://www.lec.df.uba.ar">www.lec.df.uba.ar <i class="fa fa-external-link"></i></a></p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="{{ rel_assets }}assets/img/logos/cma_iso.jpg" width="110" height="110" alt="">
				<h4>CMA</h4>
				<p>El <b>Centro de Microscopías Avanzadas</b> (DF/FCEyN/UBA e IFIBA/CONICET)
        </p>
        <p><a href="http://www.cma.df.uba.ar">www.cma.df.uba.ar <i class="fa fa-external-link"></i></a></p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="{{ rel_assets }}assets/img/logos/ifiba_iso.jpg" width="110" height="110" alt="">
				<h4>IFIBA</h4>
				<p>El <b>Instituto de Física de Buenos Aires</b> del CONICET.
				</p>
				<p><a href="http://www.df.uba.ar/investigacion/el-ifiba">www.df.uba.ar/investigacion/el-ifiba <i class="fa fa-external-link"></i></a></p>
			</div><!-- col-lg-3 -->


		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->


	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="{{ rel_root }}assets/img/grupo.jpg" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->

	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>Foto</h4>
				<br>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
  {% endblock %}
