<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ rel_root }}assets/ico/favicon.png">

    <title>SOMA - Sistema de OptoMecánica Abierto</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ rel_root }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ rel_root }}assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ rel_root }}assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">S<i class="fa fa-circle"></i>MA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for page in pages %}
            <li {{ 'class="active"' if active == page.url }}><a href="{{ rel_root }}{{ page.url }}.html">{{ page.title }}</a></li>
            {% endfor %}
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  {% block content %}

  {% endblock %}

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>DESARROLLAMOS OPTOMECÁNICA ABIERTA</h4>
					<p>Dispositivos electromecánicos para experimentos de óptica
             confeccionados con impresora 3D y controlados por una placa
             Arduino.
          </p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->


	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
        {% for page in social %}
        <a href="{{ page.url }}"><i class="fa fa-{{ page.icon }}"></i></a>
        {% endfor %}

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">donde encontrarnos</h4>
	      </div>
	      <div class="modal-body">
          {% for page in social %}
          <p><a href="{{ page.url }}"><i class="fa fa-{{ page.icon }}"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ page.title }}</a></p>
          {% endfor %}
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ rel_root }}assets/js/bootstrap.min.js"></script>
    {% block after_jquery %}
    {% endblock %}
  </body>
</html>
