{% extends "base.html" %}

{% block content %}

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>{{ code }}<br/>
				<p>{{ title }}
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->

	<br/>
	<br/>
	<div class="container">

	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#general" data-toggle="tab">Descripción</a></li>
			<li><a href="#specs" data-toggle="tab">Especificaciones</a></li>
			<li><a href="#build" data-toggle="tab">Instrucciones, Planos y Código</a></li>
			<li><a href="#multimedia" data-toggle="tab">Fotos y Videos</a></li>
		</ul>
		<div class="tab-content">
			<div id="general" class="tab-pane active">
				<p>{{ description }}</p>
				<hr>
				<p>
					{% for h in highlights %}
					<i class="fa fa-circle-o"></i> {{ h }}<br/>
					{% endfor %}
				</p>
			</div>
			<div id="specs" class="tab-pane">
				<table class="table table-hover">
				<tbody>
					{% for key, value in specs.items() %}
					<tr>
						<th scope="row">{{ key }}</th>
						<td>{{ value }}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
			<div id="build" class="tab-pane">
				<i class="fa fa-github }}"></i>&nbsp;&nbsp;<a href="{{ github }}">{{ github }}</a>
			</div>
			<div id="multimedia" class="tab-pane">
				{% if movies %}
					{% for item in movies %}
						{{ item }}
					{% endfor %}
				{% endif %}
				<br/>
				<hr>
				<br/>
				<div class="galleria">
					{% for item in pictures %}
						<img src="{{ rel_root }}assets/img/{{ item }}" data-title="{{ item }}" data-description="{{ item }}">
					{% endfor %}
				</div>

			</div>
		</div><!-- /.tab-content -->
	</div><!-- /.tabbable -->

</div>

<br/>
<br/>

  {% endblock %}

{% block after_jquery %}
<style>
		.galleria{ width: 700px; height: 400px; background: #000 }
</style>
<script src="{{ rel_root }}assets/galleria/galleria-1.4.2.min.js"></script>
<script languaje=''>
		Galleria.loadTheme('{{ rel_root }}assets/galleria/galleria.classic.min.js');
		Galleria.run('.galleria');
</script>
{% endblock %}
